﻿@model CrudMvcConsumeAPI.Models.AgentViewModel
@{
}

<html>
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        .custom-icon {
            width: 20px; /* Atur lebar ikon sesuai kebutuhan */
            height: auto; /* Biarkan ketinggian mengikuti proporsi aslinya */
        }
    </style>
</head>
</html>

<div class="mt-2" style="width:80%">

    @if (TempData["errorMessage"] != null)
    {
        <div class="mb-3">
            @TempData["errorMessage"]
        </div>
    }

    @if ((string)TempData["SuccessMsg"] == "Agent details update successfully")
    {
        <div class="alert alert-success">
            <strong>Congrats. Your data has been successfully updated</strong>
        </div>
    }

    <form asp-action="Edit">
        <input asp-for="ID" type="hidden" class="form-control">
        <h2>EDIT AGENT</h2>

        <div class="container">
            <div class="row">

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="RegDate" class="form-label" style="font-weight: bold;">REGISTRATION DATE</label>
                        <input asp-for="RegDate" type="date" class="form-control" />
                        <span class="text-danger" asp-validation-for="RegDate"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="RegStatus" class="form-label" style="font-weight: bold;">REGISTRATION STATUS</label>
                        <input asp-for="RegStatus" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="RegStatus"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label" style="font-weight: bold;">NAME</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Gender" class="form-label" style="font-weight: bold;">GENDER</label>
                        <input asp-for="Gender" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="Gender"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="BirthPlace" class="form-label" style="font-weight: bold;">BIRTH PLACE</label>
                        <input asp-for="BirthPlace" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="BirthPlace"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="BirthDate" class="form-label" style="font-weight: bold;">BIRTH DATE</label>
                        <input asp-for="BirthDate" type="date" class="form-control" />
                        <span class="text-danger" asp-validation-for="BirthDate"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="Address" class="form-label" style="font-weight: bold;">ADDRESS</label>
                        <input asp-for="Address" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="form-label" style="font-weight: bold;">EMAIL</label>
                        <input asp-for="Email" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="Phone" class="form-label" style="font-weight: bold;">PHONE</label>
                        <input asp-for="Phone" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="IdCard" class="form-label" style="font-weight: bold;">ID CARD</label>
                        <input asp-for="IdCard" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="IdCard"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label asp-for="CreatedDate" class="form-label" style="font-weight: bold;">CREATED DATE</label>
                        <input asp-for="CreatedDate" type="date" class="form-control" />
                        <span class="text-danger" asp-validation-for="CreatedDate"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="CreatedBy" class="form-label" style="font-weight: bold;">CREATED BY</label>
                        <input asp-for="CreatedBy" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="CreatedBy"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <label asp-for="Password" class="form-label" style="font-weight: bold;">PASSWORD</label>
                    <div class="input-group">
                        <input asp-for="Password" type="text" class="form-control" />
                        <span class="input-group-text toggle-password" onclick="togglePassword()">
                            <i class="bi bi-eye custom-icon"></i>
                        </span>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" style="font-weight: bold;">Update</button>
                    <a href="/Agent/IndexAgent" class="btn btn-primary" style="font-weight: bold">Back</a>
                </div>

            </div>
        </div>
    </form>
</div>

<script>
    function togglePassword() {
        var passwordInput = document.getElementById("Password");
        var eyeIcon = document.querySelector('.toggle-password i');

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove('bi-eye');
            eyeIcon.classList.add('bi-eye-slash');
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove('bi-eye-slash');
            eyeIcon.classList.add('bi-eye');
        }
    }
</script>