﻿@model IEnumerable<CrudMvcConsumeAPI.Models.AgentViewModel>

<div class="mt-2" style="width:100%">

    <div class="row">
        <h2>ALL AGENT</h2>

        @* <form asp-action="IndexAgen">
        <div style="width:60%" class="input-group mb-3">
        <input type="text" class="form-control" placeholder="InputSearching"
        name="searchString" value="@ViewData["CurrentFilter"]"
        aria-label="InputSearching" aria-describedby="button-addon2" />

        <button class="btn btn-primary" type="button" id="button-addon2"
        style="font-weight: bold" disabled>
        Press enter for searching
        </button>
        </div>
        </form>*@

        <div class="col-md-4">
            <a href="/Agent/Create" class="btn btn-primary">CREATE AGENT</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="font-weight: bold">REGISTRATION DATE</th>
                    <th style="font-weight: bold;">REGISTRATION STATUS</th>
                    <th style="font-weight: bold;">NAME</th>
                    <th style="font-weight: bold;">GENDER</th>
                    <th style="font-weight: bold;">BIRTH PLACE</th>
                    <th style="font-weight: bold;">BIRTH DATE</th>
                </tr>
                @foreach (var agent in Model)
                {
                    <tr>
                        <td>
                            @agent.RegDate
                        </td>
                        <td>
                            @agent.RegStatus
                        </td>
                        <td>
                            @agent.Name
                        </td>
                        <td>
                            @agent.Gender
                        </td>
                        <td>
                            @agent.BirthPlace
                        </td>
                        <td>
                            @agent.BirthDate
                        </td>
                        <td>
                            <a class="btn btn-success" href="/Agent/Edit?id=@agent.ID" style="font-weight: bold;">Edit</a>
                            @*<a class="btn btn-info" href="/Agent/DetailAgent?id=@agent.ID" style="font-weight: bold;">Detail</a>*@
                            <a class="btn btn-danger" @Html.ActionLink("Delete", "Delete", new {id = agent.ID}) >
                            @*@Html.ActionLink("Delete", "Delete", new {id = agent.ID})*@
                        </td>

                    </tr>
                }
            </thead>
        </table>
    </div>
</div>